:root{
    --red_page:rgba(255, 0, 0, 1);
    --green_page: rgba(0, 128, 0, 1);
    --yellow_page:rgba(255, 255, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace; ;
}
/*Utilities*/


.page{
    height: 100vh;
    width: 100%;
    position: relative;
}
img{   
    height: 70vh;
    margin: 0px auto; 
    display: block;
}
p{
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    text-align: center; 
    line-height: 60px;  
    margin: 0px auto;
}
html{
    scroll-behavior: smooth;
}
/*Pages common structure*/

.buttons{
    position: fixed;
    top: 30px;
    right: 0px;
    z-index: 1;
}
li{
    display: inline;
    list-style: none;
    text-decoration: none;
    border: 0px solid white;
    border-width: 10px;
    background-color: white;
    border-radius: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 40px 20px;
}
/*Buttons*/

.first{
    background-color: var(--red_page);
    color: var(--yellow_page);
    text-transform: uppercase;
}
.second{
    background-color: var(--green_page);
    color: var(--yellow_page);
    text-transform: uppercase;
}
.third{
    background-color: var(--yellow_page);
    color: var(--green_page);
    text-transform: uppercase;
}
/*Colors*/

.converse{
    padding-top: 10vh;
}
a:link:not(#exclude), a:visited:not(#exclude) {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}