:root{
    --red_page:rgba(255, 0, 0, 1);
    --green_page: rgba(0, 128, 0, 1);
    --yellow_page:rgba(255, 255, 0, 1);
}
.clearfix{
    content:"";
    display: table;
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace; ;
}
/*Utilities*/


.page{
    height: 100vh;
    width: 100%;
    position: relative;
}
.page img, p{
    float: left;    
}
img{
    margin: 0px 360px;
}
p{
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    text-align: center;   
}
/*Pages common structure*/

.buttons{
    position: absolute;
    top: 5px;
    right: 5px;
}
button{
    border: 0px solid white;
    border-width: 10px;
    background-color: white;
    border-radius: 100%;
    padding-left: 5px;
    padding-right: 5px;
}


/*Buttons*/

.first{
    background-color: var(--red_page);
    color: var(--yellow_page);
    text-transform: uppercase;
}
.second{
    background-color: var(--greed_page);
    color: var(--yellow_page);
    text-transform: uppercase;
}
.third{
    background-color: var(--yellow_page);
    color: var(--green_page);
    text-transform: uppercase;
}
/*Colors*/