:root{
    --red_page:rgba(255, 0, 0, 1);
    --green_page: rgba(0, 128, 0, 1);
    -yellow_page:rgba(255, 255, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace; ;
}
.page{
    height: 100vh;
    position: relative;
}
.page img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    height: 300px;
}
.first{
    background-color: red;

}